# Ignore environment variables
.env

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore executables and build artifacts
/build/
/dist/
*.spec

# Ignore SQLite database files
*.sqlite
*.db

# Ignore logs and other unnecessary files
*.log